@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


header{
	
	background-color: #FFFFFF;
	color: #171214;
	
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CBCBCB;
	
	box-sizing: border-box;
	
}


header nav ul li a{
	
	color: #171214;
	text-decoration: none;
	
}

header nav ul li a:hover{
	
	background-color: #171214;
	color: #FFFFFF;
	
}


.search-bar{
	
	border: solid;
	border-width: 1px;
	border-color: #CBCBCB;
	
}

.search-bar:hover{
	
	border-color: #ACA6A6;
	
}


body{
	
	
	margin: 0px;
	
	background-color: #FFFFFF;
	color: #241E2D;
	
	min-height: 100vh;
	
	display:flex; 
	flex-direction:column;
	
	font-family: 'Inter', sans-serif; /*Noto Sans, Helvetica, sans-serif;*/
	
}


#content{
	
	margin-top: 100px;
	
	max-width: 1300px;
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	
	flex:1;
	
	box-sizing: border-box;
	
}


#content *{
	box-sizing: inherit;
}


.box{
	
	border-style: solid;
	border-width: 1px;
	border-color: #CBCBCB;
	border-radius: 18px;
	background-color: #FFFFFF;
	
}

.box-hover{
	
	border-style: solid;
	border-width: 1px;
	border-color: #ACA6A6;
	background-color: #FFFFFF;
	
	cursor:pointer;
	
	border-radius: 18px;
	
}


.light-color-box{
	
	border-style: solid;
	border-width: 1px;
	border-color: #ECF4FF;
	background-color: #FFFFFF;
	
	border-radius: 18px;
	
}

.colored-box{
	
	border-style: solid;
	border-width: 1px;
	border-color: #0372C6;
	background-color: #ECF4FF;
	
	border-radius: 18px;
	
}

.cta-button, .reverse-button:hover{
	
	border: solid;
	border-color: #0372C6;
	border-width: 1px;
	
	background-color: #0372C6;
	color: #FFFFFF;
	
	cursor:pointer;
	transition-duration: 0.4s;
	
	border-radius: 18px;
	
}


.reverse-button, .cta-button:hover{ 
	
	border: solid;
	border-color: #0372C6;
	border-width: 1px;
	 
	background-color: #FFFFFF;
	color: #0372C6;
	
	cursor:pointer;
	transition-duration: 0.4s;
	
	border-radius: 18px;
	
}

.reverse-red-button, .red-button:hover{
	
	border: solid;
	border-color: #F44336;
	border-width: 1px;
	 
	background-color: #FFFFFF;
	color: #F44336;
	
	cursor: pointer;
	transition-duration: 0.4s;
	
	border-radius: 18px;
	
}

.red-button, .reverse-red-button:hover{
	
	border: solid;
	border-color: #F44336;
	border-width: 1px;
	
	background-color: #F44336;
	color: #FFFFFF;
	
	cursor:pointer;
	transition-duration: 0.4s;
	
	border-radius: 18px;
	
}

.disabled-button{
	
	border: none; 
	background-color: #BFC7C2;
	color: #FFFFFF;
	
	border-radius: 18px;
	
}

.action-icon{
	
	color: #0372C6;
	
}

.grey-action-icon{
	
	color: #ACA6A6;
	
}

.warn-icon{
	
	color: #F44336;
	
}


.line{
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CBCBCB;
	background-color: #FFFFFF;
	
	
}



.valid-input{
	
	border-color: #3B9C76;
	
	border-style: solid;
	border-width: 1px;
	background-color: #EDFFF8;
	
	border-radius: 18px;
	
}


.invalid-input{ 
	
	border-color: #F44336;
	
	border-style: solid;
	border-width: 1px;
	background-color: #FFF1F0;
	
	border-radius: 18px;
	
}


.focus-input{
	
	border-color: #0372C6;
	
	border-style: solid;
	border-width: 1px;
	background-color: #ECF4FF;
	
	border-radius: 18px;
	
	
}

.error-message{
	
	color: #F44336;
	
}


input:focus { 
	outline: none !important;
}

textarea:focus { 
	outline: none !important;
}


.green-text{
	
	color: #3B9C76;
	
}

.yellow-text{
	
	color: #B88C3E;
	
}

.red-text{
	
	color: #F44336;
	
}




h1{
	
	/* h1 - title */

	font-style: normal;
	font-weight: 900;
	font-size: 42px;
	
}


h2{
	
	/* h2 - sub-title */

	font-style: normal;
	font-weight: 700;
	font-size: 33px;

}

h3{
	
	/* h3 - product title */

	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	
}


h4{
	
	/* h4 - table title */

	font-style: normal;
	font-weight: 550;
	font-size: 19px;
	
}

h5{
	
	/* h5 - light header */

	font-style: normal;
	font-weight: 200;
	font-size: 26px;
	
}


.h6{
	
	/* h6 - hero title */

	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	
}


.p1{
	
	/* p1 - paragraph */

	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	
}


.p2{
	
	/* p2 - Input */
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	
}



.p3{
	
	/* p3 - Input label */

	font-style: normal;
	font-weight: 200;
	font-size: 19px;
	
}


.p4{
	
	/* p1 - sub-paragraph */

	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	
}



.b1{
	
	/* b1 - primary button */
	
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	
}

.b2{
	
	/* b2 - secondary button */
	
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	
}



caption{
	
	display: none;
	
}




@media screen and (max-width: 900px){
	
	#content{
	
		margin-top: 150px;
	
	}
	
	
}

