@charset "ISO-8859-1";


header{
	
	background-color: #FFFEFE;
	color: #222526;
	
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E3DBDB;
	
}


header nav ul li a{
	
	color: #222526;
	text-decoration: none;
	
}

header nav ul li a:hover{
	
	background-color: #211723;
	color: #FFFEFE;
	
}


.search-bar{
	
	border: solid;
	border-width: 1px;
	border-color: #E3DBDB;
	
}

.search-bar:hover{
	
	border-color: #ACA6A6;
	
}



body{
	
	background-color: #FFFEFE;
	color: #222526;
	
	min-height: 100vh;
	
	display:flex; 
	flex-direction:column;
	
}


#content{
	
	margin-top: 100px;

	max-width: 1500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
	flex:1;
	
}


.box{
	
	border-style: solid;
	border-width: 1px;
	border-color: #E3DBDB;
	border-radius: 10px;
	background-color: #FFFEFE;
	
}

.cta-button, .reverse-button:hover{
	
	border: solid;
	border-color: #2D86F6;
	border-width: 1px;
	
	background-color: #2D86F6;
	color: #FFFEFE;
	
	cursor:pointer;
	transition-duration: 0.4s;
	
}


.reverse-button, .cta-button:hover{ /*es utilizzo, messaggio carrello, hover, header*/
	
	border: solid;
	border-color: #2D86F6;
	border-width: 1px;
	 
	background-color: #FFFEFE;
	color: #2D86F6;
	
	cursor:pointer;
	transition-duration: 0.4s;
	
}


.action-icon{
	
	color: #2D86F6;
	
}

.grey-action-icon{
	
	color: #ACA6A6;
	
}


.line{
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E3DBDB;
	background-color: #FFFEFE;
	
	
}