@charset "ISO-8859-1";



footer{
	
	display: flex;
	justify-content: space-between;

	
	padding: 60px 0px;
	margin: 70px 0px 0px 0px;
	
	color: #FFFFFF;
	background-color: #171214;
    
}

footer a{
	
	color: #FFFFFF;
	text-decoration: none;
	
}

.footer-item{
	
	width: 30%;
	text-align: center;
	
}


#contatti{
	
	margin: 23px 0px 0px 0px;
	
}

#contatti .p3{
	
	margin: 0px 0px 6px 0px;
	
}

#contatti i{
	
	margin: 0px 7px;
	
}



@media screen and (max-width: 800px){
	
	footer{
	
		flex-direction: column;
		padding: 20px 0px 48px 0px;
	
	}
	
	.footer-item{
	
		width: 100%;
	
	}
	
	.footer-item .p2{
	
		margin: 45px 0px 15px 0px;
	
	}
	
	
	#center{
	
		order: 1;
	
	}

	#contatti{
		
		margin: 10px 0px 0px 0px;
		
	}
	
	#contatti .p3{
	
		margin: 0px 0px 8px 0px;
		
	}
	
	
}

