@charset "ISO-8859-1";


#prodotti, #categorie{
	
	margin: 150px 0px;
	
}



#hero h1, #prodotti h1, #categorie h1{
	
	margin: 30px 0px;
	
}



.categoria{
	
	display: flex;
	justify-content: space-between;
	
	
}

.categoria>div{
	
	width: 50%;
	
}


.categoria img{
	
	border-radius: 10px;
	
	
	display: block;
	width: 100%;
	
	/*object-fit: contain;
    max-width: 600px;
    max-height: 400px;
    
    width: auto;
    height: auto;
    margin:auto;
	
	/*object-fit: contain;
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin:auto;*/
	
}

