@charset "ISO-8859-1";


#hero-wrap{
	
	margin-top: 70px;
	background-color: #ECF4FF;

}


#hero{
	
	max-width: 1300px;
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	

}

#right-hero, #left-hero{
	
	width: 48%;
	overflow: hidden;
	
}


#hero-button{
	
	margin: 60px 0px;	
	
}


#hero-button button{
	
	padding: 18px 85px;
	
}


#hero-img img{
	
	display: block;
	object-fit: contain;
    max-height: 650px;
    width: auto;
    height: auto;
    margin:auto;
	
}


#hero .h6{
	
	
	margin: 0px 0px 50px 0px;
	
}


.line{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

#categorie{
 
 	margin: 0px 0px 0px 0px;
 
}

#prodotti{
	
	margin: 150px 0px 0px 0px;
	
}


#about-us{
	
	margin: 120px 0px
	
}


#categorie h1{
 
 	margin: 0px 0px 62px 0px;
 
 }

#prodotti h1{
	
	margin: 0px 0px 20px 0px;
	
}


#about-us h1{
	
	margin: 0px 0px 45px 0px;
	
}
 
 

#categorie-wrap{
	
	display: grid;
	grid-template-columns: 30% 30% 30%;
	/*column-gap: 1%;
	row-gap: 33px;*/
	justify-content: space-between;
  	justify-items: center;
 	align-content: space-evenly;
  	align-items: center;
  	
  	grid-auto-rows: 1fr;
  	
  	margin-top: 55px;
	
}

.categoria{
	
	/*width: 100%;*/
	
}


.cat-img img{
	
	display: block;
	object-fit: contain;
    max-height: 200px;
    width: auto;
    height: auto;
    margin:auto;
	
}



.cat-tit h4{
	
	margin: 28px 0px;
	text-align: center;
	
}


#prod-h{
	
	visibility: hidden;
	
}


#about-us p{
	
	margin: 33px 0px;
	
}





@media screen and (max-width: 1000px){
	
	
	#hero{
	
		margin-top: 170px;
		flex-direction: column;
	
	}
	
	#right-hero, #left-hero{
	
		width: 100%;
		
	}
	
	
	#hero-img img{
	
	    max-height: 450px;
		
	}
	
	#categorie-wrap{
	
		grid-template-columns: 40% 40%;
		row-gap: 33px;
	
	}
		
	
}



@media screen and (max-width: 700px){
	
	#categorie-wrap{
	
		grid-template-columns: 100%;
	
	}
	
	
	
	
}
