@charset "ISO-8859-1";


#hero-wrap{
	
	margin-top: 75px;
	background-color: #ECF4FF;

}


#hero{
	
	max-width: 1300px;
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	

}

#right-hero, #left-hero{
	
	width: 48%;
	overflow: hidden;
	
}

#hero-img img{
	
	display: block;
	object-fit: contain;
    max-height: 650px;
    width: auto;
    height: auto;
    margin:auto;
	
}


#hero .h6{
	
	
	margin: 0px 0px 60px 0px;
	
}


.line{

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

#categorie{
 
 	margin: 0px 0px 140px 0px;
 
}

#prodotti{
	
	margin: 140px 0px;
	
}


#about-us{
	
	margin: 140px 0px
	
}


#categorie h1{
 
 	margin: 0px 0px 65px 0px;
 
 }

#prodotti h1{
	
	margin: 0px 0px 20px 0px;
	
}


#about-us h1{
	
	margin: 0px 0px 50px 0px;
	
}
 
 

#categorie-wrap{
	
	display: grid;
	grid-template-columns: 30% 30% 30%;
	/*column-gap: 1%;
	row-gap: 33px;*/
	justify-content: space-between;
  	justify-items: center;
 	align-content: space-evenly;
  	align-items: center;
  	
  	grid-auto-rows: 1fr;
  	
  	margin-top: 55px;
	
}

.categoria{
	
	width: 100%;
	
}


.cat-img img{
	
	display: block;
	object-fit: contain;
    max-height: 200px;
    width: auto;
    height: auto;
    margin:auto;
	
}



.cat-tit h4{
	
	margin: 28px 0px;
	text-align: center;
	
}


#about-us p{
	
	margin: 33px 0px;
	
}

/*
.categoria{
	
	display: flex;
	justify-content: space-between;
	
	margin: 120px 0px;
	
	
}

.cat-left .img{
	
	order: 1;
	
}


.categoria>div{
	
	width: 45%;
	
}

.categoria h1{
	
	margin: 0px;
	
}

.categoria .info-wrap{
	
	display: flex;
	align-items: center;
	
}

.categoria .info{
	
	padding: 0px;
	margin: 0px;
	
}

#categorie .cat-left{
	
	text-align: left;
	
}


.categoria p{
	
	width: 95%;
	margin: 40px 0px 40px 0px;
	
}

.categoria img{
		
	display: block;
	width: 100%;
	
}

.cat-bttn button{
	
	padding: 12px 60px;

	
}*/



@media screen and (max-width: 1000px){
	
	
	#hero{
	
		margin-top: 170px;
		flex-direction: column;
	
	}
	
	#right-hero, #left-hero{
	
		width: 100%;
		
	}
	
	
	#hero-img img{
	
	    max-height: 450px;
		
	}
		
	
	
	
	
	/*.categoria{
	
		flex-direction: column;
	
	}
	
	.categoria>div{
	
		width: 100%;
		
	}
	
	.cat-left .img{
	
		order: 0;
		
	}
	
	.categoria p{
	
		width: 100%;
		margin: 30px 0px 30px 0px;
		
	}
	
	
	.categoria .info{
	
		margin: 30px 0px 0px 0px;
	
	}*/
	
}
