@charset "ISO-8859-1";


.message{
	
	width: 100%;
	overflow: hidden;
	padding: 20px 0px; 
	display: none;
	
	position: fixed;
  	bottom: 0;
	right: 0;
	
}

.message-txt{
	
	float: left;
	width: 40%;
	margin-left: 30px; 

}

.message-txt .p3, .message-txt h4{
	
	text-align: left;
	margin: 2px 0px;
	
}

.mess-btn-wrap{
	
	float: right;
	width: 45%;
	
	height: 100%;
	
}


.message-btn{
	
	width: 45%;
	float: right;
	
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.message-btn button{
	
	border-radius: 10px;
	padding: 8px 65px;
	
}



.line{
	
	width: 100%;
	margin: 0px;
	
}


#prodotto{
	
	overflow: auto;
	width: 100%;
	
	margin-bottom: 50px;
	
}



#immagine{
	
	float: left;
	width: 60%;
	
	overflow: hidden;
	
}


#immagine img{
	
	/*max-width: 100%;
	height: auto;*/
	
	
	display: block;
	object-fit: contain;
    max-width: 100%;
    max-height: 650px;
    width: auto;
    height: auto;
    margin:auto;
    
	
	
}


#info-prod{
	
	float: right;
	width: 36%;
	text-align: left;
	
}

#nome-div{
	margin: 0px 0px 40px 0px;
}

#nome-div h1, #nome-div h5{
	margin: 0px 0px 2px 0px;
}

#info-prod h2{
	margin: 40px 0px;
}

#info-prod p{
	
	margin: 25px 0px;
	
}


#prod-action{
	
	margin-top: 100px;
	
}



.item-btn{
	
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 15px 0px;
	
}

.item-btn button, .item-btn input{
	
	border-radius: 10px;
	padding: 20px 60px;
	width: 100%;
	
}


#descrizione{
	
	width: 100%;
	clear: both;
	
	margin: 0px 0px 40px 0px;
	
}

#descrizione h2{
	
	margin: 40px 0px 15px 0px;
	
}

#descrizione p{
	
	margin: 15px 0px;
	
}



@media screen and (max-width: 1300px){
	
	
	#nome-div{
		margin: 0px 0px 15px 0px;
	}
	
	#nome-div h1, #nome-div h5{
		margin: 0px 0px 0px 0px;
	}
	
	#info-prod h2{
		margin: 20px 0px;
	}
	
	#info-prod p{
		
		margin: 15px 0px;
		
	}
	
	
	#prod-action{
		margin-top: 50px;
	}
	
	#prodotto{
		margin-bottom: 40px;
	}
		
	
	
	#descrizione h2{
	
		margin: 30px 0px 15px 0px;
		
	}
	
	#descrizione p{
		
		margin: 15px 0px;
		
	}
	
	
	.message-txt{
	
		width: 40%;
		margin-left: 30px; 
	
	}
	
	.mess-btn-wrap{
	
		width: 50%;
		
	}
		
	
	.message-btn button{
		
		padding: 8px 40px;
		
	}
	
}


@media screen and (max-width: 1000px){
	
	
	#immagine{
	
		float: none;
		width: 100%;
		
	}
	
	
	#info-prod{
		
		float: none;
		width: 100%;
		
	}
	

	#nome-div{
		margin: 15px 0px 20px 0px;
	}
	
	#nome-div h1, #nome-div h5{
		margin: 0px 0px 0px 0px;
	}
	
	#info-prod h2{
		margin: 20px 0px;
	}
	
	#info-prod p{
		
		margin: 20px 0px;
		
	}
	
	
	#prodotto{
	
		margin-bottom: 40px;
		
	}
	
	.message-txt{
	
		width: 100%;
		float: none;
		
		margin-left: 0px;
		
	}
	
	.message-txt .p3, .message-txt h4{
		
		text-align: center;
		margin: 2px 0px;
		
	}

	
	.mess-btn-wrap{
	
		width: 50%;
		float: none;
		
		margin: auto;
		margin-top: 20px;
		
		
	}
		
	
	.message-btn{
	
		margin: 5px 0px;
		width: 100%;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	.message-btn form{
	
		width: 100%;
	
	}
	
	.message-btn button{
		
		padding: 8px auto;
		width: 100%;
		
	}
		
	
}
