@charset "ISO-8859-1";



#filtri{
	
	width: 100%;
	overflow: auto;
	
}

#item-group{
	
	float: left;
	width: 60%;
  
}


#single-item{
	
	width: 40%;
	float: right;
	
}

#double-item{
	
	width: 60%;
	float: left;
	
	
}

#double-item .item{
	
	width: 45%;
	float: left;
	
}

.filtro-item .p3{
	
	float: left;
	width: fit-content;
	
	text-align: left;
	margin: 10px 10px 10px 0px;
	
}



.filtro-item .input-item{
	
	float: left;
	width: 50%;
	
	
}

#double-item .input-item{
	
	width: 60%;
	
	
}


.input-item input, .input-item select{
	
	width: 100%;
	
}

.filtro-item input, .filtro-item select{
	
	padding: 10px 15px;
	
}




#filtro-action{
	
	float: right;
	width: 25%;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}


#filtro-action button{
	
	padding: 10px 70px;
	border-radius: 10px;
	
}






/*#filtri{
	
	width: 100%;
	overflow: auto;
	
	box-sizing: border-box;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

#item-group{
	
	display: flex;
	justify-content: flex-start;
    align-items: center;
    
  	flex-grow: 2;
  
}


.filtro-item{
	
	display: flex;
	justify-content: center;
    align-items: center;
    
    padding-right: 100px;
	
}


/*.filtro-item > div{
	
	padding-right: 20px;
	
}

.filtro-item input, .filtro-item select{
	
	padding: 10px 15px;
	
}

#prezzo-da, #prezzo-a{
	
	width: 50%;
	
}


.filtro-action{
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	
}


.filtro-action button{
	
	padding: 10px 70px;
	border-radius: 6px;
	
}



*/



.line{
	
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	
}


.tab-prodotti{	
	
	width: 100%;
	
	margin: 10px 0px;
	
	padding: 20px 0px;
	
	overflow: auto;
	
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	column-gap: 2%;
	row-gap: 20px;
	justify-content: space-between;
  	justify-items: center;
 	align-content: space-evenly;
  	align-items: center;
  	
  	grid-auto-rows: 1fr;
	
}


a {
	
	text-decoration: none;
	color: #222526;
	
}

.prodotto .img img{
	
	/*max-width: 100%;
	height: auto;
	
	/*width:  200px;
    height: 200px;
    background-size: contain;
    
    display: block;
	max-width:400px;
	max-height:200px;
	width: auto;
	height: auto;
	
	margin:auto;*/
	
	display: block;
	object-fit: contain;
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin:auto;
    
	
}

.prodotto .img{
	
	overflow: hidden;
	
}


.prodotto{
	
	padding: 5px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 100%;
	
	
	height: 100%;
	
	
}


.hidden-info{
	display: none;
}





.info{
	text-align: left;
	padding: 15px;
	
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
  	align-content: stretch;
}




.info .bottom-info{
	
	
	display: flex;
	align-items: flex-end;
	
	flex: 1;
	
	
}

h1{
	
	margin: 20px 0px 90px 0px;
	
}


h3{
	
	margin-top: 10px;
	margin-bottom: 0px;
}

.p3{
	
	margin-top: 0px;
	margin-bottom: 25px;
	
}


@media screen and (max-width: 1200px){
	
	.tab-prodotti{
	
		grid-template-columns: 30% 30% 30%;
	
	}
	
	#item-group{
	
		width: 75%;
	
	}
	
	
	#filtro-action{
	
		width: 20%;
	
	}
	
	#filtro-action button{
	
		padding: 10px 55px;
		
	}
	
}


@media screen and (max-width: 900px){
	
	
	
	/*#filtri{
	
		width: 80%;
	
	}*/
	
	
	/*#item-group{
	
		float: none;
		width: 100%;
	
	}
	
	#single-item, #double-item, #filtro-action{
	
		float: none;
		width: 100%;
		
		margin: 20px 0px;
		
		overflow: hidden;
	
	}
	
	
	#double-item{
	
		display: flex;
  		justify-content: space-between;
	
	}
	
	#double-item #right-item{
	
		display: flex;
 		justify-content: flex-end;
	
	}*/
	
	
	
	#item-group {
	
	    width: 100%;
	    margin: 20px 0px;
	
	}
	
	
	#single-item, #single-item .item{
	
		display: flex;
 		justify-content: flex-end;
	
	}
		
	
	#filtro-action{
	
	
		display: flex;
		align-items: center;
	    justify-content: flex-start;
	    
	    
	    float: none;
		width: 100%;
		
		margin: 20px 0px;
		
		/*overflow: hidden;*/
	
	}
	
	#filtro-action button{
	
		width: 100%;
		padding: 10px 0px;
	
	}
	
	.tab-prodotti{
	
		grid-template-columns: 45% 45%;
	
	}
	
}


@media screen and (max-width: 700px){
	
	#filtri{
	
		width: 100%;
	
	}
	
	
	#item-group{
	
		float: none;
		width: 100%;
	
	}
	
	#single-item, #single-item .item{
	
		display: block;
	
	}
	
	#single-item, #double-item, #filtro-action{
	
		float: none;
		width: 100%;
		
		margin: 20px 0px;
		
		overflow: hidden;
	
	}
	
	
	#double-item{
	
		display: flex;
  		justify-content: space-between;
	
	}
	
	#double-item #right-item, #double-item #left-item{
	
		display: flex;
 		justify-content: flex-end;
	
	}

	
	#double-item .item {
    	
    	width: 45%;
    
	}
	
	#single-item .item{
		display: flex;
	}
	
	.filtro-item .p3{
		flex-shrink: 0;
	}
	
	.filtro-item .input-item{
		flex-grow: 1
	}
	
	
	
	.tab-prodotti{
	
		grid-template-columns: 100%;
		justify-content: space-around;
	
	}
	
}